/* Info PJ 서브페이지용  CSS - sub.css */

/* 공통 외부 CSS 불러오기 */
@import url(./common.css);
/* 
    @import 방식으로 외부파일 불러와서 합치면
    html 파일에서 link 방식으로 불러올 필요가 없다!
    이것의 이점은 웹요청(http request)이 줄어들어
    html의 랜더링 속도가 향상된다!
*/



/* 
    [ 웹폰트 ]
    font-family: "Gaegu", sans-serif;
    font-family: "Stylish", serif;
    font-family: "Black Han Sans", sans-serif;
*/

.sub-title{
    font-size: 20px;
    color: red;
    font-family: "Black Han Sans", sans-serif;
    text-align: center;
}
